{% extends 'base.html' %}

{% block title %}
Space Launches | SpaceX
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Space Launches</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/spacex">SpaceX</a>
          <a class="nav-link active" href="/ula">United Launch Alliance</a>
          <a class="nav-link active" href="/rocketlab">Rocket Lab</a>
          <a class="nav-link active" href="#">Subscirbe</a>
        </div>
      </div>
    </div>
</nav>

<section class="bg-dark">
    <div class="container-sm py-5">
        <h1 class="display-1 text-light py-5" style="font-size: 13.5vh;">SpaceX</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm offset-4 border-bottom">
                <p class="display-4 text-white" style="font-size: 2.5vh;">SXM-7 | Falcon 9 Block 5</p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Lift off time:</p>
            </div>
            <div class="col-sm offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">December 13, 2020 – TBD</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Mission name:</p>
            </div>
            <div class="col-sm offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">SXM-7</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Launch provider:</p>
            </div>
            <div class="col-sm offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">SpaceX</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Costumer:</p>
            </div>
            <div class="col-sm offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Sirus XM</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Rocket:</p>
            </div>
            <div class="col-sm offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Falcon 9 Block 5 B1051.7</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Launch location:</p>
            </div>
            <div class="col offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Space Launch Complex 40</p>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-sm-3">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">Payload mass:</p>
            </div>
            <div class="col-sm offset-1 border-bottom">
                <p class="display-5 text-white pt-5" style="font-size: 2.5vh;">7,000 kg (15,400 lbs)</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}